<?xml version="1.0"?>
<config>
  <modules>
    <Pkdeveloper_Medicine>
      <version>0.1.0</version>
    </Pkdeveloper_Medicine>
  </modules>
  <frontend>
    <routers>
      <medicine>
        <use>standard</use>
          <args>
            <module>Pkdeveloper_Medicine</module>
            <frontName>medicine</frontName>
          </args>
      </medicine>
    </routers>
		<layout>
		  <updates>
			<medicine>
			  <file>medicine.xml</file>
			</medicine>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <medicine>
        <class>Pkdeveloper_Medicine_Helper</class>
      </medicine>
    </helpers>
	<blocks>
	  <medicine>
		<class>Pkdeveloper_Medicine_Block</class>
	  </medicine>
	</blocks>
	<models>
	  <medicine>
		<class>Pkdeveloper_Medicine_Model</class>
		<resourceModel>medicine_mysql4</resourceModel>
	  </medicine>
	  <medicine_mysql4>
		<class>Pkdeveloper_Medicine_Model_Mysql4</class>
		<entities>		  
			  <medicine>
				<table>query_medicine_entity</table>
			  </medicine>
        </entities>
	  </medicine_mysql4>
	</models>
	<resources>
	  <medicine_setup>
		<setup>
		  <module>Pkdeveloper_Medicine</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </medicine_setup>
	  <medicine_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </medicine_write>
	  <medicine_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </medicine_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <medicine>
	    <use>admin</use>
		<args>
		  <module>Pkdeveloper_Medicine</module>
		  <frontName>admin_medicine</frontName>
		</args>
	  </medicine>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <medicine module="medicine">
		<title>Medicine</title>
		<sort_order>100</sort_order>
		<children>
		  <medicine module="medicine">
		    <title>Manage Medicine</title>
			<sort_order>0</sort_order>
			<action>admin_medicine/adminhtml_medicine</action>
		  </medicine>
		</children>
	  </medicine>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<medicine translate="title" module="medicine">
			  <title>Medicine</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <medicine translate="title">
			<title>Manage Medicine</title>
			<sort_order>0</sort_order>
		  </medicine>
			  </children>
			</medicine>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<medicine>
		  <file>medicine.xml</file>
		</medicine>
	  </updates>
	</layout>
  </adminhtml>
</config> 